/*
&display=swap
*/

@import url('https://fonts.googleapis.com/css?family=Lato:regular,500,700,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800,900&display=swap');

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

.services {
   background-color: #F4F4F4;
   padding: 100px 0;
}

.services__container {
   margin: 0 auto;
   max-width: 1230px;
   padding: 0 15px;
   border: 1px solid black;
}

.services__area-services {
   width: 190px;
   margin: 0 auto 22px;
}

.services__area-service {
   display: flex;
   justify-content: flex-end;
   background-color: #ffff;

}

.services__icon {
   display: flex;
   flex: 0 0 22px;
   height: 27px;
}

.services__img {
   width: 100%;
   height: 100%;
}

.services__sub-title-item {
   margin: 0 0 0 10px;
   border: 1px solid black;
}

.services__sub-title {
   font-family: 'Inter';
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   color: #1C2752;
   text-transform: capitalize;
   letter-spacing: 0.36px;
}

.services__our-servises {
   margin: 0 auto 12px;
   max-width: 285px;
   border: 1px solid black;
}

.services__title {
   font-family: 'Mulish';
   font-weight: 400;
   font-style: normal;
   font-size: 45px;
   line-height: 1.3;
   color: #1C2752;
   letter-spacing: 0.36px;
   text-align: center;
}

.services__text-item {
   margin: 0 auto 47px;
   max-width: 819px;
   border: 1px solid black;
}

.services__text {
   font-family: 'Inter';
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   color: #7E7E7E;
   text-align: center;
   letter-spacing: 0.36px;
}